ALIYUN_ACCESS_KEY_ID=xxx
ALIYUN_ACCESS_KEY_SECRET=xxx
# aiops部分环境变量
ENV=production
LLM_API_KEY=sk-xxx
LLM_BASE_URL=https://xxx/v1
FEISHU_WEBHOOK=https://open.feishu.cn/open-apis/bot/v2/hook/your-webhook-url
TAVILY_API_KEY=
