webhook:
  alert_receive_queue_size: 100  # 告警接收队列大小
  common_map_renew_interval_seconds: 10  # 通用映射刷新间隔（秒）
  http_request_global_timeout_seconds: 30  # HTTP 请求超时（秒）
  alert_manager_api: "http://localhost:9093"  # 告警管理 API
  default_upgrade_minutes: 30
  front_domain: "localhost:3000"  # 前端域名
  backend_domain: "localhost:8889/api/v1/alerts"  # 后端域名
  im_feishu:
    group_message_api: "https://open.feishu.cn/open-apis/bot/v2/hook/"  # 群聊消息 API
    private_message_api: "https://open.feishu.cn/open-apis/im/v1/messages"  # 私聊消息 API
    tenant_access_token_api: "https://open.feishu.cn/open-apis/auth/v3/tenant_access_token/internal"  # 租户访问令牌 API
    private_robot_app_id: "cli_a784ce0a6e78100e"  # 私聊机器人 App ID
    private_robot_app_secret: "emBmFYuYmMuRIAsNb57N9gAS0hhmiVrA"  # 私聊机器人 App Secret
    request_timeout_seconds: 10  # 请求超时时间（秒）
  port: "8889"  # HTTP 服务端口
  min_workers: 1  # 最小工作线程数
  max_workers: 2  # 最大工作线程数
  scale_threshold: 0.5  # 扩缩容的阈值
  scale_interval: 5  # 扩缩容的时间间隔
mysql:
  addr: "root:root@tcp(mysql:3306)/CloudOps?charset=utf8mb4&parseTime=True&loc=Local"  # MySQL 连接地址
