# 环境配置
ENV=development  # 可选值: development, production

# 敏感信息 - API密钥
LLM_API_KEY=sk-xxx  # 外部API密钥
LLM_BASE_URL=https://api.siliconflow.cn/v1  # 外部API基础URL

# 通知配置
FEISHU_WEBHOOK=https://open.feishu.cn/open-apis/bot/v2/hook/your-webhook-url

# Tavily搜索API密钥
TAVILY_API_KEY=